@font-face {
  font-family: "CustomFont";
  src: local("f0419"),
    url("./assets/f0419.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: black;
}

.App {
  text-align: center;
  
}

.clock-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.myClock {
  font-size: 37vw;
  color: red;
}

.myDate {
  font-size: 5vw;
  color: red;
  position: absolute;
  width: 100%;
  top: 40vw;
}